@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Baloo+Bhai+2:wght@800&family=Bebas+Neue&family=Comforter+Brush&family=Concert+One&family=Dangrek&family=Lakki+Reddy&family=Luckiest+Guy&family=Roboto+Slab:wght@900&family=Yanone+Kaffeesatz:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
}

#navbar{
    display: flex;
    background-color:rgba(0, 0, 0);
    font-family: 'Yeon Sung';
    padding: 13px, 14px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#navbar ul{
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
}

#navbar li{
    list-style: none;
    padding: 0px 40px;
}

#navbar li a{ 
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    /* box-shadow: inset 0px -2px 0 0 #fb9608; */
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
  letter-spacing: 1px;
}

#navbar li a:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 4px rgb(249 141 7);  
}

.active{
    box-shadow: inset 0px 0px 0px 4px rgb(249 141 7);
}

#logo{
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img{
    height: 72px;
}

.servicesbg{
    background-color: #f9930b87;
    height: 240vh;
}

.services_container h1{
    text-align: center;
    padding: 50px;
    font-size: 2.6rem;
}

.services{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 160px;
}


.servicesimg img{
    height: 380px;
    padding: 30px;
}

.services_content{
    padding: 20px;
}

.services_content h1{
    padding: 20px;
    font-size: 35px;
}

.services_content p{
    padding: 20px;
    font-size: 18px;
    text-align: justify;
}

/* 
.services_container h2{
    text-align: center;
    padding-top: 65px;
    color: white;
}

#missionSection{
    height: 444px;
    display: flex;
    align-items: center;
}

.card{
    background-color: #ffffffdf;
    height: 200px;
    width: 30%;
    margin: 24px 24px;
    display: inline-block;
    border-radius: 40px;
}

.card h3{
    text-align: center;
    margin: 10px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img{
    height: 150px;
    padding: 0px 15px;
    margin: 0px 0px;
}

.card-img img{
    height: inherit;
}

.card-content{
    padding: 0px 10px;
}

.card-content p{
    font-size: 20px;
} */


/* Footer */
#footer{
    background-color: black;
    color: white;
    /* display: flex;
    justify-content: center;*/
    text-align: center; 
    font-size: 15px;
    padding: 7px;
    height: 330px;
}

.updated_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 277px;
}

.updated_footer section.c1{
    width: 33.33%;
    text-align: initial;
}

.updated_footer section.c1 p{
    text-align: justify;
}

.updated_footer section.c2{
    width: 33.33%;
}

.updated_footer section.c3{
    width: 33.33%;
    align-items: center;
}

.updated_footer section.c3 h4{
    padding: 40px 104px;
    font-size: 20px;
    display: flex;
}

.footer_logo{
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer_logo img{
    height: 100px;
}

.footer_logo span{
    font-size: 25px;
}

.opening_hours h4{
    font-size: 20px;
    display: flex;
    padding: 8px 136px;
}

.opening_hours ul{
    padding: 20px 135px;
    list-style: none;
    text-align: initial;
}

.opening_hours ul li{
    padding: 10px 0px;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons .i img{
    height: 35px;
    padding: 0 20px;
}

.icons .i img:hover{
    cursor: pointer;
    box-shadow: inset 3px 0px 0px 0px rgb(249 141 7);
}

.icons .i a{
    color: black;
}

.copyryt{
    padding: 10px;
}